{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<main class="container-fluid py-5 text-center">
    <h5>Your password needs to have at least a symbol,a letter and a number</h5>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <div id="info">

    </div>
</main>
<script>
    username = document.getElementById("username");
    password = document.getElementById("password");
    confrimation = document.getElementById("confirmation");

    info = document.getElementById("info");

    username.addEventListener("beforeinput", (event) =>{
        //regex = new RegExp("")
        if (event.data && event.data.includes(" ")){
            info.classList.add("divFade");
            info.classList.add("Bad");
            info.innerHTML = "Username can't contain spaces";

            document.body.appendChild(info);

            event.preventDefault();
        }
    });

    password.addEventListener("beforeinput", (event) =>{
        //regex = new RegExp("")
        if (event.data && event.data.includes(" ")){
            info.classList.add("divFade");
            info.classList.add("Bad");
            info.innerHTML = "Password can't contain spaces";

            document.body.appendChild(info);

            event.preventDefault();
        }
    });
    confirmation.addEventListener("beforeinput", (event) =>{
        //regex = new RegExp("")
        if (event.data && event.data.includes(" ")){
            info.classList.add("divFade");
            info.classList.add("Bad");
            info.innerHTML = "Confirmation can't contain spaces";

            document.body.appendChild(info);

            event.preventDefault();
        }
    });
</script>
{% endblock %}
